.Info{
    width: 100%;
    height: 30%;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    display: inline;
    background-color: khaki;
}

.ImgClass{
    box-sizing: border-box;
    display: inline;
    height: 250px;
    width: 200px;
    float: right;
    margin-bottom: 100px;
    margin-right: 150px;

}